@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css');


.btn-hover:hover {
    background-color: #0056b3 !important;
    transform: translateY(-2px);
    transition: 0.3s;
}